---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall/timemachine?appid=api-key&dt=1589173200&lat=33.441792&lon=-94.037689
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.4418,"lon":-94.0377,"timezone":"America/Chicago","timezone_offset":-18000,"data":[{"dt":1589173200,"sunrise":1589195910,"sunset":1589245597,"temp":289.88,"feels_like":289.75,"pressure":1024,"humidity":82,"dew_point":286.79,"clouds":20,"visibility":10000,"wind_speed":0,"wind_deg":0,"wind_gust":0,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]}]}'
  recorded_at: Sat, 19 Oct 2024 11:55:35 GMT
recorded_with: VCR 6.2.0
