---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall/timemachine?appid=api-key&dt=1589173200&lat=33.441792&lon=-94.037689
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","current":{"dt":1589173200,"sunrise":1589195911,"sunset":1589245597,"temp":289.54,"feels_like":288.71,"pressure":1023,"humidity":82,"dew_point":286.46,"uvi":9.38,"clouds":20,"visibility":16093,"wind_speed":2.66,"wind_deg":16,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1589155200,"temp":295.79,"feels_like":294.21,"pressure":1020,"humidity":43,"dew_point":282.59,"clouds":20,"visibility":16093,"wind_speed":2.1,"wind_deg":330,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},{"dt":1589158800,"temp":294.43,"feels_like":293.79,"pressure":1021,"humidity":53,"dew_point":284.47,"clouds":90,"visibility":16093,"wind_speed":1.5,"wind_deg":330,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"[...]
