---
http_interactions:
  - request:
      method: get
      uri: https://api.openweathermap.org/data/3.0/onecall?appid=api-key&lat=33.5312&lon=-111.9426
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"lat":33.5312,"lon":-111.9426,"timezone":"America/Phoenix","timezone_offset":-25200,"current":{"dt":1704064820,"sunrise":1704033103,"sunset":1704068963,"temp":289.2,"feels_like":288.11,"pressure":1019,"humidity":48,"dew_point":278.2,"uvi":0.4,"clouds":0,"visibility":10000,"wind_speed":2.06,"wind_deg":110,"weather":[{"id":800,"main":"Clear","description":"clear
          sky","icon":"01d"}]},"minutely":[{"dt":1704064860,"precipitation":0},{"dt":1704064920,"precipitation":0},{"dt":1704064980,"precipitation":0},{"dt":1704065040,"precipitation":0},{"dt":1704065100,"precipitation":0},{"dt":1704065160,"precipitation":0},{"dt":1704065220,"precipitation":0},{"dt":1704065280,"precipitation":0},{"dt":1704065340,"precipitation":0},{"dt":1704065400,"precipitation":0},{"dt":1704065460,"precipitation":0},{"dt":1704065520,"precipitation":0},{"dt":1704065580,"precipitation":0},{"dt":1704065640,"precipitation":0},{"dt":1704065700,"precipitati[...]
