---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=api-key&exclude=minutely,hourly&lat=33.441792&lon=-94.037689
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","current":{"dt":1589427537,"sunrise":1589368621,"sunset":1589418488,"temp":295.03,"feels_like":294.9,"pressure":1015,"humidity":78,"dew_point":291.02,"uvi":10.31,"clouds":1,"visibility":16093,"wind_speed":4.1,"wind_deg":140,"wind_gust":8.2,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"daily":[{"dt":1589392800,"sunrise":1589368621,"sunset":1589418488,"temp":{"day":295.03,"min":293.4,"max":295.03,"night":293.4,"eve":295.03,"morn":295.03},"feels_like":{"day":294.2,"night":293.65,"eve":294.2,"morn":294.2},"pressure":1015,"humidity":78,"dew_point":291.02,"wind_speed":5.1,"wind_deg":134,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":1,"uvi":10.31},{"dt":1589479200,"sunrise":1589454978,"sunset":1589504933,"temp":{"day":297.63,"min":291.39,"max":299.9,"night":293.76,"eve":298.17,"morn":291.39},"feels_like":{"day":297.87,"night":294.38,"eve":300.39,"morn":291.64},"pressure":1015,"humidity":79,"dew_point":293.94,"wind_speed":5.34,"wind_deg":169,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":100,"rain":1.52,"uvi":9.98},{"dt":1589565600,"sunrise":1589541336,"sunset":1589591378,"temp":{"day":297.07,"min":293.02,"max":300.79,"night":293.8,"eve":299.64,"morn":293.02},"feels_like":{"day":298.99,"night":295.65,"eve":302.77,"morn":293.88},"pressure":1014,"humidity":86,"dew_point":294.65,"wind_speed":3.55,"wind_deg":169,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":98,"rain":0.58,"uvi":10.53},{"dt":1589652000,"sunrise":1589627695,"sunset":1589677822,"tem[...]
