---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=api-key&lat=33.441792&lon=-94.037689
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","current":{"dt":1589425748,"sunrise":1589368621,"sunset":1589418488,"temp":295.55,"feels_like":296.21,"pressure":1015,"humidity":64,"dew_point":288.41,"uvi":10.31,"clouds":1,"visibility":16093,"wind_speed":1.5,"wind_deg":130,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1589425800,"precipitation":0},{"dt":1589425860,"precipitation":0},{"dt":1589425920,"precipitation":0},{"dt":1589425980,"precipitation":0},{"dt":1589426040,"precipitation":0},{"dt":1589426100,"precipitation":0},{"dt":1589426160,"precipitation":0},{"dt":1589426220,"precipitation":0},{"dt":1589426280,"precipitation":0},{"dt":1589426340,"precipitation":0},{"dt":1589426400,"precipitation":0},{"dt":1589426460,"precipitation":0},{"dt":1589426520,"precipitation":0},{"dt":1589426580,"precipitation":0},{"dt":1589426640,"precipitati[...]
