---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/reverse?appid=api-key&lat=51.5073219&lon=-0.1276474
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"name":"City of Westminster","local_names":{"he":"וסטמינסטר","ru":"Вестминстер","be":"Вэстмінстэр","mk":"Град
        Вестминстер","bn":"সিটি অফ ওয়েস্টমিনস্টার","ko":"시티오브웨스트민스터","sr":"Вестминстер","hi":"सिटी
        ऑफ वेस्टमिंस्टर","fr":"Cité de Westminster","cy":"San Steffan","en":"City
        of Westminster"},"lat":51.4973206,"lon":-0.137149,"country":"GB","state":"England"}]'
  recorded_at: Thu, 27 Aug 2026 23:19:26 GMT
recorded_with: VCR 6.4.0
