---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=api-key&zip=94040,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"94040","name":"Mountain View","lat":37.3855,"lon":-122.088,"country":"US"}'
  recorded_at: Thu, 27 Aug 2026 23:19:26 GMT
recorded_with: VCR 6.4.0
