---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/box/city?appid=api-key&bbox=12,32,15,37,10&cluster=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":200,"calctime":0.002786548,"cnt":15,"list":[{"id":2563191,"dt":1588298967,"name":"Birkirkara","coord":{"Lon":14.46,"Lat":35.9},"main":{"temp":16.23,"feels_like":12.87,"temp_min":16,"temp_max":16.67,"pressure":1017,"humidity":82},"visibility":10000,"wind":{"speed":6.2,"deg":280},"rain":null,"snow":null,"clouds":{"today":0},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},{"id":2210247,"dt":1588298965,"name":"Tripoli","coord":{"Lon":13.19,"Lat":32.88},"main":{"temp":18.44,"feels_like":17.63,"temp_min":18.44,"temp_max":18.44,"pressure":1019,"sea_level":1019,"grnd_level":1017,"humidity":57},"wind":{"speed":1.13,"deg":180},"rain":null,"snow":null,"clouds":{"today":0},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},{"id":2216885,"dt":1588298965,"name":"Zawiya","coord":{"Lon":12.73,"Lat":32.75},"main":{"temp":19.09,"feels_like":17.31,"temp_min":19.09,"temp_max":19.09,"pressure":1019,"sea_level":1019,"grnd_level":1016,"humidity":48},"wind":{"speed":1.82,"deg":130},"rain":null,"snow":null,"clouds":{"today":0},"weather":[{"id":800[...]
