---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/find?appid=api-key&cnt=7&lat=55.5&lon=37.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"accurate","cod":"200","count":7,"list":[{"id":495260,"name":"Shcherbinka","coord":{"lat":55.5,"lon":37.56},"main":{"temp":276.86,"feels_like":273.02,"temp_min":276.15,"temp_max":277.15,"pressure":1014,"humidity":86},"dt":1588302549,"wind":{"speed":3,"deg":80},"sys":{"country":"RU"},"rain":null,"snow":null,"clouds":{"all":47},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},{"id":564517,"name":"Dubrovitsy","coord":{"lat":55.44,"lon":37.49},"main":{"temp":276.85,"feels_like":273.01,"temp_min":276.15,"temp_max":277.15,"pressure":1014,"humidity":86},"dt":1588302321,"wind":{"speed":3,"deg":80},"sys":{"country":"RU"},"rain":null,"snow":null,"clouds":{"all":56},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},{"id":570578,"name":"Butovo","coord":{"lat":55.55,"lon":37.58},"main":{"temp":277.4,"feels_like":273.65,"temp_min[...]
