---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/group?appid=api-key&id=524901,703448,2643743&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cnt":3,"list":[{"coord":{"lon":37.62,"lat":55.75},"sys":{"country":"RU","timezone":10800,"sunrise":1588297549,"sunset":1588352831},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"main":{"temp":12,"feels_like":7.29,"temp_min":12,"temp_max":12,"pressure":1014,"humidity":30},"visibility":10000,"wind":{"speed":3,"deg":110},"clouds":{"all":51},"dt":1588334824,"id":524901,"name":"Moscow"},{"coord":{"lon":30.52,"lat":50.43},"sys":{"country":"UA","timezone":10800,"sunrise":1588300345,"sunset":1588353442},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"main":{"temp":16.63,"feels_like":16.42,"temp_min":16,"temp_max":17.22,"pressure":1009,"humidity":72},"visibility":10000,"wind":{"speed":1},"clouds":{"all":75},"dt":1588334954,"id":703448,"name":"Kiev"},{"coord":{"lon":-0.13,"lat":51.51},"sys":{"country":"GB","timezone":3600,"sunrise":1588307493,"sunset":1588361005},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"main":{"temp":13.41,"feels_like":7.66,"temp_min":11.11,"temp_max":15.56,"pressure":998,"humidity":58},"visibility":10000,"wind":{"speed":6.7,"deg":280},"clouds":{"all":30},"dt":1588334968,"id":2643743,"name":"London"}]}'
  recorded_at: Fri, 01 May 2020 13:01:24 GMT
recorded_with: VCR 5.0.0
