---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=api-key&zip=10018,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-73.99,"lat":40.75},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"base":"stations","main":{"temp":279.69,"feels_like":276.11,"temp_min":278.71,"temp_max":280.37,"pressure":1019,"humidity":70},"visibility":16093,"wind":{"speed":2.6},"clouds":{"all":75},"dt":1588048598,"sys":{"type":1,"id":5141,"country":"US","sunrise":1588067857,"sunset":1588117733},"timezone":-14400,"id":0,"name":"New
        York","cod":200}'
  recorded_at: Tue, 28 Apr 2020 04:40:47 GMT
recorded_with: VCR 5.0.0
