---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=api-key&id=524901&lang=ru&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":37.62,"lat":55.75},"weather":[{"id":800,"main":"Clear","description":"ясно","icon":"01d"}],"base":"stations","main":{"temp":53.6,"feels_like":44.87,"temp_min":53.6,"temp_max":53.6,"pressure":1014,"humidity":27},"visibility":10000,"wind":{"speed":6.71,"deg":90},"clouds":{"all":0},"dt":1588339006,"sys":{"type":1,"id":9027,"country":"RU","sunrise":1588297549,"sunset":1588352831},"timezone":10800,"id":524901,"name":"Москва","cod":200}'
  recorded_at: Fri, 01 May 2020 13:20:30 GMT
recorded_with: VCR 5.0.0
