---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=api-key&id=524901&lang=fr&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":37.62,"lat":55.75},"weather":[{"id":520,"main":"Rain","description":"petites
        averses","icon":"09d"}],"base":"stations","main":{"temp":13.67,"feels_like":5.79,"temp_min":13,"temp_max":14,"pressure":1010,"humidity":47},"visibility":10000,"wind":{"speed":9,"deg":260},"clouds":{"all":40},"dt":1589717622,"sys":{"type":1,"id":9029,"country":"RU","sunrise":1589678040,"sunset":1589737084},"timezone":10800,"id":524901,"name":"Moscou","cod":200}'
  recorded_at: Sun, 17 May 2020 12:15:55 GMT
recorded_with: VCR 5.1.0
