---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=api-key&id=2643743
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-0.13,"lat":51.51},"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"base":"stations","main":{"temp":281.87,"feels_like":277.11,"temp_min":280.93,"temp_max":283.15,"pressure":1005,"humidity":87},"visibility":8000,"wind":{"speed":5.7,"deg":90},"rain":{"1h":1.27},"clouds":{"all":75},"dt":1588047748,"sys":{"type":1,"id":1414,"country":"GB","sunrise":1588048633,"sunset":1588101506},"timezone":3600,"id":2643743,"name":"London","cod":200}'
  recorded_at: Tue, 28 Apr 2020 04:25:20 GMT
recorded_with: VCR 5.0.0
