---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=api-key&id=2643743&lang=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-0.13,"lat":51.51},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"base":"stations","main":{"temp":287.23,"feels_like":283.85,"temp_min":285.93,"temp_max":289.82,"pressure":998,"humidity":66},"visibility":10000,"wind":{"speed":4.1,"deg":250},"rain":{"1h":0.3},"clouds":{"all":5},"dt":1588338951,"sys":{"type":1,"id":1414,"country":"GB","sunrise":1588307493,"sunset":1588361005},"timezone":3600,"id":2643743,"name":"London","cod":200}'
  recorded_at: Fri, 01 May 2020 13:20:49 GMT
recorded_with: VCR 5.0.0
