---
http_interactions:
- request:
    method: get
    uri: https://history.openweathermap.org/data/2.5/aggregated/day?appid=api-key&day=1&lat=35&lon=139&month=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":200,"city_id":5400075,"calctime":0.022604633,"result":{"month":1,"day":1,"temp":{"record_min":275.9,"record_max":291.14,"average_min":283.27,"average_max":289.06,"median":285.41,"mean":285.17,"p25":283.52,"p75":287.59,"st_dev":3.32,"num":124},"pressure":{"min":1014,"max":1027,"median":1019,"mean":1019.02,"p25":1017,"p75":1020,"st_dev":2.65,"num":124},"humidity":{"min":32,"max":100,"median":81,"mean":80.51,"p25":76,"p75":87,"st_dev":11.05,"num":111},"wind":{"min":0,"max":8,"median":2,"mean":2.14,"p25":1,"p75":3,"st_dev":1.69,"num":124},"precipitation":{"min":0,"max":0.9,"median":0,"mean":0.09,"p25":0,"p75":0,"st_dev":0.2,"num":124},"clouds":{"min":1,"max":90,"median":90,"mean":68.52,"p25":75,"p75":90,"st_dev":31.45,"num":124}}}'
  recorded_at: Tue, 02 Jun 2020 13:56:23 GMT
recorded_with: VCR 6.0.0
