---
http_interactions:
- request:
    method: post
    uri: https://api.openweathermap.org/data/3.0/measurements?appid=api-key
    body:
      encoding: UTF-8
      string: '[{"station_id":"abcde","dt":1479817340,"temperature":18.7,"wind_speed":1.2,"wind_gust":3.4,"pressure":1021,"humidity":87,"rain_1h":2,"clouds":[{"condition":"NSC"}]}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":400001,"message":"Station id is invalid"}'
  recorded_at: Tue, 09 Jun 2020 15:23:53 GMT
recorded_with: VCR 6.0.0
