---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/measurements?appid=api-key&from=1469817340&limit=100&station_id=5ed21a12cca8ce0001f1aef1&to=1591620047&type=d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"type":"d","date":1479859200,"station_id":"5ed21a12cca8ce0001f1aef1","temp":{"max":18.7,"min":18.7,"average":18.7,"weight":1},"humidity":{"average":87,"weight":1},"wind":{},"pressure":{"min":1021,"max":1021,"average":1021,"weight":1},"precipitation":{"rain":2}}]'
  recorded_at: Mon, 08 Jun 2020 12:41:48 GMT
recorded_with: VCR 6.0.0
