---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/stations?appid=api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"5ed21311cca8ce0001f1aef0","created_at":"2020-05-30T08:02:25.3Z","updated_at":"2020-05-30T08:02:25.3Z","external_id":"SF_TEST001","name":"San
        Francisco Test Station","longitude":-122.43,"latitude":37.76,"altitude":150,"rank":10},{"id":"5ed21a12cca8ce0001f1aef1","created_at":"2020-05-30T08:32:18.956Z","updated_at":"2020-05-30T08:32:18.956Z","external_id":"SF_TEST001","name":"San
        Francisco Test Station","longitude":-122.43,"latitude":37.76,"altitude":150,"rank":10}]'
  recorded_at: Mon, 01 Jun 2020 14:47:28 GMT
recorded_with: VCR 6.0.0
