---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=api-key&lat=51.5073&lon=-0.1277
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1742504400,"main":{"temp":288.02,"feels_like":287.21,"temp_min":285.77,"temp_max":288.02,"pressure":1017,"sea_level":1017,"grnd_level":1013,"humidity":63,"temp_kf":2.25},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"clouds":{"all":33},"wind":{"speed":3.01,"deg":107,"gust":9.8},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2025-03-20
        21:00:00"},{"dt":1742515200,"main":{"temp":286.34,"feels_like":285.54,"temp_min":284.94,"temp_max":286.34,"pressure":1016,"sea_level":1016,"grnd_level":1011,"humidity":70,"temp_kf":1.4},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":57},"wind":{"speed":3.37,"deg":123,"gust":11.54},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2025-03-21
        00:00:00"},{"dt":1742526000,"main":{"temp":283.95,"feels_like":28[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=api-key&lat=39.00801&lon=-76.97647
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1742504400,"main":{"temp":293.69,"feels_like":293.18,"temp_min":288.76,"temp_max":293.69,"pressure":1000,"sea_level":1000,"grnd_level":989,"humidity":53,"temp_kf":4.93},"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"clouds":{"all":33},"wind":{"speed":2.48,"deg":252,"gust":6.35},"visibility":3410,"pop":1,"rain":{"3h":5.2},"sys":{"pod":"d"},"dt_txt":"2025-03-20
        21:00:00"},{"dt":1742515200,"main":{"temp":287.27,"feels_like":286.38,"temp_min":282.83,"temp_max":287.27,"pressure":1001,"sea_level":1001,"grnd_level":992,"humidity":63,"temp_kf":4.44},"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"clouds":{"all":67},"wind":{"speed":5.36,"deg":307,"gust":13.91},"visibility":10000,"pop":1,"rain":{"3h":9.63},"sys":{"pod":"n"},"dt_txt":"2025-03-21
        00:00:00"}[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=api-key&lat=-82.713066&lon=3.877213
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1742504400,"main":{"temp":245.97,"feels_like":238.97,"temp_min":245.2,"temp_max":245.97,"pressure":995,"sea_level":995,"grnd_level":723,"humidity":100,"temp_kf":0.77},"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"clouds":{"all":100},"wind":{"speed":3.34,"deg":1,"gust":3.25},"visibility":648,"pop":0.2,"snow":{"3h":0.12},"sys":{"pod":"n"},"dt_txt":"2025-03-20
        21:00:00"},{"dt":1742515200,"main":{"temp":244.96,"feels_like":237.96,"temp_min":244.27,"temp_max":244.96,"pressure":997,"sea_level":997,"grnd_level":723,"humidity":100,"temp_kf":0.69},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"clouds":{"all":100},"wind":{"speed":3.64,"deg":20,"gust":3.46},"visibility":1406,"pop":0,"sys":{"pod":"n"},"dt_txt":"2025-03-21
        00:00:00"},{"dt":1742526000[...]
