---
http_interactions:
- request:
    method: get
    uri: https://pro.openweathermap.org/data/2.5/forecast/hourly?appid=api-key&lat=82.8628&lon=135.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":96,"list":[{"dt":1720119600,"main":{"temp":273.47,"feels_like":271.03,"temp_min":273.47,"temp_max":273.47,"pressure":1017,"sea_level":1017,"grnd_level":1017,"humidity":98,"temp_kf":0},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":{"all":56},"wind":{"speed":2.03,"deg":54,"gust":2.52},"visibility":2686,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-07-04
        19:00:00"},{"dt":1720123200,"main":{"temp":273.42,"feels_like":270.74,"temp_min":273.22,"temp_max":273.42,"pressure":1017,"sea_level":1017,"grnd_level":1017,"humidity":99,"temp_kf":0.2},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":{"all":59},"wind":{"speed":2.23,"deg":67,"gust":2.56},"visibility":551,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-07-04
        20:00:00"},{"dt":1720126800,"main":{"temp":273.32,"feels_like":270.38[...]
- request:
    method: get
    uri: https://pro.openweathermap.org/data/2.5/forecast/hourly?appid=api-key&lat=-70.8696&lon=-75.11441
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":96,"list":[{"dt":1720119600,"main":{"temp":265.96,"feels_like":258.96,"temp_min":265.96,"temp_max":265.96,"pressure":1000,"sea_level":1000,"grnd_level":951,"humidity":94,"temp_kf":0},"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":{"all":100},"wind":{"speed":15.75,"deg":340,"gust":23.86},"visibility":111,"pop":1,"snow":{"1h":1.3},"sys":{"pod":"d"},"dt_txt":"2024-07-04
        19:00:00"},{"dt":1720123200,"main":{"temp":266.07,"feels_like":259.07,"temp_min":266.07,"temp_max":266.52,"pressure":1000,"sea_level":1000,"grnd_level":950,"humidity":95,"temp_kf":-0.45},"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":{"all":100},"wind":{"speed":15.03,"deg":339,"gust":23.02},"visibility":105,"pop":1,"snow":{"1h":1.28},"sys":{"pod":"d"},"dt_txt":"2024-07-04
        20:00:00"},{"dt":172012680[...]
