---
http_interactions:
- request:
    method: get
    uri: https://pro.openweathermap.org/data/2.5/forecast/climate?appid=api-key&lat=33.5312&lon=-111.9426
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":5308049,"name":"Paradise Valley","coord":{"lon":-111.9426,"lat":33.5312},"country":"US","population":12820,"timezone":-25200},"code":"200","message":22.2974177,"cnt":29,"list":[{"dt":1720119600,"sunrise":1720095772,"sunset":1720147281,"temp":{"day":310.33,"min":300.15,"max":313.81,"night":304.51,"eve":313.81,"morn":301.79},"feels_like":{"day":309.61,"night":303.36,"eve":312.52,"morn":301.32},"pressure":1013,"humidity":24,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"speed":5.41,"deg":241,"clouds":78},{"dt":1720206000,"sunrise":1720182201,"sunset":1720233672,"temp":{"day":311.7,"min":300.15,"max":316.37,"night":306.86,"eve":316.37,"morn":300.15},"feels_like":{"day":310.53,"night":304.99,"eve":314.42,"morn":300.12},"pressure":1010,"humidity":20,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"speed":4.13,"deg":250,"clouds":39},{"dt":1720292400,"sunrise":1720268631,"sunset":1720320061,"temp":{"day":313.16,"min":302.55,"max":317.45,"night":307.54,[...]
- request:
    method: get
    uri: https://pro.openweathermap.org/data/2.5/forecast/climate?appid=api-key&lat=82.8628&lon=135.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":0,"name":"","coord":{"lon":135,"lat":82.8628},"country":"","population":0,"timezone":32400},"code":"200","message":22.4998097,"cnt":29,"list":[{"dt":1720148400,"sunrise":0,"sunset":0,"temp":{"day":273.74,"min":273.2,"max":273.91,"night":273.3,"eve":273.49,"morn":273.91},"feels_like":{"day":269.95,"night":269.97,"eve":269.81,"morn":270.27},"pressure":1011,"humidity":93,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"speed":3.5,"deg":332,"clouds":15,"snow":0.14},{"dt":1720234800,"sunrise":0,"sunset":0,"temp":{"day":273.2,"min":273.11,"max":273.2,"night":273.19,"eve":273.2,"morn":273.2},"feels_like":{"day":270.52,"night":271.54,"eve":273.2,"morn":270.13},"pressure":1014,"humidity":94,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"speed":2.67,"deg":336,"clouds":98,"snow":0.14},{"dt":1720321200,"sunrise":0,"sunset":0,"temp":{"day":273.13,"min":273.11,"max":273.16,"night":273.13,"eve":273.11,"morn":273.11},"feels[...]
- request:
    method: get
    uri: https://pro.openweathermap.org/data/2.5/forecast/climate?appid=api-key&lat=39.00801&lon=-76.97647
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":4346991,"name":"Adelphi","coord":{"lon":-76.9765,"lat":39.008},"country":"US","population":15086,"timezone":-14400},"code":"200","message":21.4966823,"cnt":30,"list":[{"dt":1720108800,"sunrise":1720086455,"sunset":1720139813,"temp":{"day":304.33,"min":293.81,"max":304.33,"night":297.81,"eve":300.63,"morn":293.81},"feels_like":{"day":305.67,"night":298.42,"eve":302.74,"morn":293.86},"pressure":1012,"humidity":48,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":4.88,"deg":196,"clouds":61,"rain":0.51},{"dt":1720195200,"sunrise":1720172888,"sunset":1720226199,"temp":{"day":306.47,"min":296.98,"max":306.47,"night":296.98,"eve":299.91,"morn":297.23},"feels_like":{"day":310.4,"night":297.9,"eve":302.78,"morn":297.99},"pressure":1010,"humidity":51,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":3.16,"deg":223,"clouds":31,"rain":3.31},{"dt":1720281600,"sunrise":1720259322,"sunset":1720312584,"temp":{"day":306.4,"min":296.98,"max":306.4,"night":299.[...]
